DATABASE_URL=
DIRECT_URL=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SITE_URL=https://plombierdeboucheur83.fr
NEXT_PUBLIC_SITE_NAME=Plombier Déboucheur 83
RESEND_API_KEY=
EMAIL_NOTIFICATION_LEAD=
